<h1 class = "header">Unplugged</h1>
<body>
    <p>
        A computer-only platform to share when you are unplugged from social media. You can also add your friends
        to see what applications and social media that they are currently unplugged from. If you need to get in touch
        with one of your unplugged friends, you can send them a message on this site as well but expect a lovely slow 
        response. We have hopes of adding a long-form post section in the near future to allow you to share stories,
         poems or just thoughts you have had. These will have a minimum requirement of 250 words so that we all don't
         get addicted to another twitter clone. 
    </p>

</body>